body {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

button {
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    font-size: 18px;
}

button:hover {
    background-color: lightgray;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc-container {
    background-color: lightgray;
    border: 3px solid black;
    border-radius: 15px;
}

.calculator-screen {
    padding: 20px;
    background-color: white;
    border: 3px solid black;
    border-radius: 15px;
    text-align: end;
    margin: 20px 10px; 
}

.data-history {
    min-height: 16px;
}

.data-input {
    min-height: 32px;
    font-size: 28px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    border-radius: 15px;
}

#evaluate {
    grid-column: 3 / span 2;
}